<!--The content below is only a placeholder and can be replaced.-->
<button class="btn btn primary" (click)="LoadList()">Load the current issues list</button>

<div *ngIf="stackdata then issuetemplate else noissuestemplate" class="container" style="padding-top:30px" id="result"> </div>
<ng4-loading-spinner> </ng4-loading-spinner>
<ng-template #issuetemplate ngFor let-issue [ngForOf]="stackdata" let-i="index"  >
  <div *ngIf=issue.title inViewport [inViewportOptions]="{ threshold: [0] }" (inViewportAction)="onIntersection($event)">
    <hr/>
    <h3> Issue Title - {{ issue.title }} </h3>
    <p> Issue Description - {{ issue.description }} </p>
    <div *ngIf="issue.updates" style="padding-left:50px">
      <p>Updates:</p>
      <div *ngFor="let update of issue.updates">
        <ng-container *ngTemplateOutlet="updatetemplate; context: { $implicit: update}">
        </ng-container>
      </div>
    </div>
 </div>
</ng-template>

    <ng-template #updatetemplate let-update>
      <div class="update-template">
        <p>Update:</p>
        <p>{{update.update}}</p>
        <img src="{{update.avatar}}" width="50px" height="50px" /> <em>  By {{update.by}} {{update.at | timeAgo}} <hr/></em>
      </div>
    </ng-template>

    <ng-template #noissuestemplate>
      <p>Everybody is Happy!</p>
    </ng-template>

    <ng-template #loading>
      <div>Loading....</div>
    </ng-template>